# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# IDEs and editors
.vscode/
.idea/

# Environment files
.env
.env.*
# Keep example env file tracked
!.env.example

# Ignore encryption script and GitHub folder
encrypt_env.py
.github/

# Byte-compiled / distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# original .ipynb
*.ipynb